<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Registro</title>
</head>
<body>
    <section class="form-register">
        <h4>Registrate</h4>
        <input class="controls" type="text" name="nombre-apellido" id="nombre-apellido" placeholder="Ingrese su nombre y apellido">
        <input class="controls" type="text" name="usuario" id="usuario" placeholder="ingrese su usuario">
        <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico">
        <input type="date" name="fecha-nac" id="fecha-nac">
        <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese una contraseña">
        <input class="button" type="submit" value="Registrar">
        <p><a href="#">¿Ya tienes cuenta?</a></p>
    </section>    
</body>
</html>